.fondo {
  position: absolute;
  height: 2800px;
  width: 86%;
  left: 14%;
  background-color: #260a87;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 983px) {
  .fondo {
    position: absolute;
    height: 3010px;
    width: 86%;
    left: 14%;
    background-color: #260a87;
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .fondo {
    position: absolute;
  height: 2960px;
  width: 100%;
  left: 0;
  background-color: #260a87;
  display: flex;
  justify-content: space-between;
  }
}
@media (max-width: 411px) {
  .fondo {
  position: absolute;
  height: 4000px;
  width: 100%;
  left: 0;
  background-color: #260a87;
  display: flex;
  justify-content: space-between;
  }
}

.circulo {
  max-width: 375px;
  max-height: 384px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: var(--bs-indigo);
  z-index: -1;
}
@media (max-width: 768px) {
  .circulo {
    max-width: 300px;
    max-height: 300px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: var(--bs-indigo);
    z-index: -1;
    align-items: center;
    margin-right: 25%;
  }
}
.rectangulo {
  width: 100%;
  height: 250px;
  background: var(--bs-indigo);
}
@media (max-width: 768px) {
  .rectangulo {
    width: 116%;
    height: 250px;
    background: var(--bs-indigo);
  }
}
.contenedor-home {
  position: absolute;
  max-height: 86%;
  width: 86%;
  left: 14%;
}
@media (max-width: 768px) {
  .contenedor-home {
    position: absolute;
    max-height: 86%;
    width: 86%;
    left: 0;
  }
}
.user {
  position: absolute;
  max-height: 86%;
  max-width: 86%;
  margin-left: 1%;
}
@media (max-width: 768px) {
  .user {
    position: absolute;
    max-height: 86%;
    max-width: 86%;
    margin-left: 2%;
    top: 124%;
  }
}
.name {
position: absolute;
  height: 86%;
  width: 86%;
  margin-left: 1%;
  top: 25%;
}
@media (max-width: 768px) {
  .name {
    position: absolute;
    height: 86%;
    width: 86%;
    margin-left: 2%;
    top: 144%;
  }
}
.bio {
  position: absolute;
  width: 80%;
}
.contenedor-bio {
  position: absolute;
  height: auto;
  width: 100%;
  top: 41.3%;
  left: 14%;
}
@media (max-width: 768px) {
  .contenedor-bio {
    position: absolute;
    height: auto;
    width: 100%;
    top: 55.3%;
    left: 0;
  }
}
@media (max-width: 411px) {
  .contenedor-bio {
    position: absolute;
    height: auto;
    width: 100%;
    top: 64.3%;
    left: 0;
  }
}

.contenedor-juegos {
  position: absolute;
  max-height: 250%;
  width: 86%;
  top: 74.3%;
  left: 14%;
}
@media (max-width: 768px) {
  .contenedor-juegos {
    position: absolute;
    max-height: 250%;
    width: 82%;
    top: 88.3%;
    left: 0;
  }
}
@media (max-width: 411px) {
  .contenedor-juegos {
    position: absolute;
    max-height: 250%;
    width: 86%;
    top: 111.3%;
    left: 0;
  }
}

.contenedor-recientes {
  position: absolute;
  max-height: auto;
  max-width: 86%;
  top: 60%;
  left: 7%;
}
@media (max-width: 768px) {
  .contenedor-recientes {
    position: absolute;
    max-height: auto;
    max-width: 86%;
    top: 60%;
    left: 0;
  }
}
.contenedor-div {
  position: absolute;
  max-height: auto;
  max-width: 86%;
  top: 229%;
  left: 14%;
}
@media (max-width: 768px) {
  .contenedor-div {
    position: absolute;
    max-height: auto;
    max-width: 86%;
    top: 229%;
    left: 0;
  }
}
.contenedor-lfgs {
  position: absolute;
  max-height: auto;
  max-width: 86%;
  top: 142%;
  left: 14%;
}
@media (max-width: 768px) {
  .contenedor-lfgs {
    position: absolute;
    max-height: auto;
    max-width: 86%;
    top: 135%;
    left: 2%;
  }
}
@media (max-width: 411px) {
  .contenedor-lfgs {
    position: absolute;
    max-height: auto;
    max-width: 86%;
    top: 162%;
    left: 2%;
  }
}
.contenedorFooter {
  position: absolute;
  max-height: auto;
  width: 86%;
  top: 345%;
  left: 14%;
}
@media (max-width: 983px) {
  .contenedorFooter {
    position: absolute;
    max-height: auto;
    width: 86%;
    top: 410%;
    left: 14%;
  }
}
@media (max-width: 768px) {
  .contenedorFooter {
    position: absolute;
    max-height: auto;
    width: 100%;
    top: 400%;
    left: 0;
  }
}
@media (max-width: 411px) {
  .contenedorFooter {
    position: absolute;
    max-height: auto;
    width: 100%;
    top: 450%;
    left: 0;
  }
}

.amigos {
  position: absolute;
  max-height: auto;
  max-width: 100%;
  top: 217%;
  left: 14%;
}
@media (max-width: 983px) {
  .amigos {
    position: absolute;
    max-height: auto;
    max-width: 100%;
    top: 260%;
    left: 14%;
  }
}
@media (max-width: 768px) {
  .amigos {
    position: absolute;
    max-height: auto;
    max-width: 100%;
    top: 272%;
    left: 0;
  }
}
@media (max-width: 411px) {
  .amigos {
    position: absolute;
    max-height: auto;
    max-width: 100%;
    top: 300%;
    left: 0;
  }
}
.container {
  padding: 10px 16px;
  max-width: 100%;
  border-radius: 10px;
  
}
@media (max-width: 977px) {
  .container {
    padding: 1px 6px;
    max-width: 100%;
    border-radius: 10px;
    
  }
}
.p-4 {
  padding: 1.5rem !important;
}
.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}
.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

/* user-dashboard-info-box */
.user-dashboard-info-box .candidates-list .thumb {
  margin-right: 20px;
}
.user-dashboard-info-box .candidates-list .thumb img {
  max-width: 80px;
  max-height: 80px;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
}

.user-dashboard-info-box .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px 0;
}

.user-dashboard-info-box .candidates-list td {
  vertical-align: middle;
}

.user-dashboard-info-box td li {
  margin: 0 4px;
}

.user-dashboard-info-box .table thead th {
  border-bottom: none;
}

.table.manage-candidates-top th {
  border: 0;
}

.user-dashboard-info-box
  .candidate-list-favourite-time
  .candidate-list-favourite {
  margin-bottom: 10px;
}

.table.manage-candidates-top {
  min-width: 650px;
}

.user-dashboard-info-box .candidate-list-details ul {
  color: #969696;
}

/* Candidate List */
.candidate-list {
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #eeeeee;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.candidate-list:hover {
  -webkit-box-shadow: 0px 0px 34px 4px rgba(33, 37, 41, 0.06);
  box-shadow: 0px 0px 34px 4px rgba(33, 37, 41, 0.06);
  position: relative;
  z-index: 99;
}
.candidate-list:hover a.candidate-list-favourite {
  color: #e74c3c;
  -webkit-box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1);
  box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1);
}

.candidate-list .candidate-list-image {
  margin-right: 25px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
  border: none;
}
.candidate-list .candidate-list-image img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
  object-fit: cover;
}

.candidate-list-title {
  margin-bottom: 5px;
}

.candidate-list-details ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 0px;
}
.candidate-list-details ul li {
  margin: 5px 10px 5px 0px;
  font-size: 13px;
}

.candidate-list .candidate-list-favourite-time {
  margin-left: auto;
  text-align: center;
  font-size: 13px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 90px;
  flex: 0 0 90px;
}
.candidate-list .candidate-list-favourite-time span {
  display: block;
  margin: 0 auto;
}
.candidate-list .candidate-list-favourite-time .candidate-list-favourite {
  display: inline-block;
  position: relative;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border: 1px solid #eeeeee;
  border-radius: 100%;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
  font-size: 16px;
  color: #646f79;
}
.candidate-list .candidate-list-favourite-time .candidate-list-favourite:hover {
  background: #ffffff;
  color: #e74c3c;
}

.candidate-banner .candidate-list:hover {
  position: inherit;
  -webkit-box-shadow: inherit;
  box-shadow: inherit;
  z-index: inherit;
}

.p-4 {
  padding: 1.5rem !important;
}
.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.user-dashboard-info-box .candidates-list .thumb {
  margin-right: 20px;
}
