@use '../../../custom.scss' as *;
.juegos-titulo {
  position: absolute;
  height: 14%;
  width: 86%;
  left: 14%;
  background: $purple-blue;
  display: flex;
}

.juegos-titulo .text {
  font-family: "Poppins", sans-serif;
  align-items: center;
  font-size: 8vh;
  font-weight: 700;
  color: #fff;
  padding-left: 5%;
}

.busqueda {
  position: absolute;
  right: 0;
  margin-right: 5rem;
  margin-top: 2.5%;
  width: 300px;
}

.footer-juegos {
  top: 250%;
  position: absolute;
  left: 14%;
  width: 86%;
  overflow: hidden;
}
