.card {
  max-width: 1320px;
  margin: auto;
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  margin-top: 4%;
  }
  @media screen and (max-width: 768px) {
    .card {
      max-width: 1320px;
      margin: auto;
      width: 50%;
      padding-right: var(--bs-gutter-x, 1.5rem);
      padding-left: var(--bs-gutter-x, 0.75rem);
      margin-right: auto;
      margin-left: auto;
      margin-top: 4%;
      }
  }