.carousel-joga {
  img {
    height: 450px;
    width: 100px;
  }
  margin-left: auto;
  margin-right: auto;
  width: 70rem;
}

#caption {
  background-color: rgba(89, 88, 88, 0.7);
  border-radius: 10px;
}

#caption > h3 {
  color: white;
  font-family: Oswald;
  font-style: normal;
  font-feature-settings: "pnum" on, "lnum" on, "ss04" on, "ss03" on, "liga" off;
  text-align: left;
  font-size: 5vh;
  -webkit-text-stroke: 1px black;
  padding-left: 3%;
}

#caption > p {
  padding-left: 5%;
  text-align: left;
  font-size: 2.5vh;
}
