img {
  height: 450px;
  width: 100px;
  
}

#caption {
  background-color: rgba(89, 88, 88, 0.7);
  border-radius: 10px;
}

h3 {
  color: white;
  font-family: Oswald;
  font-style: normal;
  font-feature-settings: 'pnum' on, 'lnum' on, 'ss04' on, 'ss03' on, 'liga' off;
  text-align: left;
  font-size: 15vh;
  font-weight: 700;
  -webkit-text-stroke: 1px black;
  padding-left: 3%;
}

p {
  padding-left: 5%;
  text-align: left;
}