div.carousel.slide {
  width: 600px;
  height: 400px;
}

.carousel-inner > carousel-item active > img, .carousel-inner > carousel-item > img {
  width: 600px;
  height: 400px;
 }

.img.d-block.w-100 {
  width: 600px;
  height: 400px;
}

