@use "./src/custom" as *;

/* Cuando la pantalla sea más chica que 480px aplica estos estilos */
@media (max-width: 768px) {
}
/* Pero si mi pantalla es mayor a 480 px aplica estos estilos siempre y cuando el tamaño sea menor a 768 px */
@media (max-width: 480px) {
}
.Archivados {
    background-color: #3310ac;
    position: absolute;
    width: 90%;
    height: 11%;
    left: 14%;
    top: 16%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 130%;
    font-feature-settings: "pnum" on, "lnum" on, "ss04" on, "ss03" on, "liga" off;
    color: #ffffff;
    .carpeta {
        position: absolute;
        width: 10px;
        height: 5px;
        left: 10%;
        top: -6%;
    }
}
.nickname {
    width: 515px;
    height: 53.66px;
    margin-left: 5%;
    margin-top: 1%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 130%;
    /* or 47px */

    font-feature-settings: "pnum" on, "lnum" on, "ss04" on, "ss03" on, "liga" off;

    color: #ffffff;
}
.chats {
    position: absolute;
    height: 90%;
    width: 90%;
    top: -10%;
    left: 7.5%;
    .chat1 {
        position: absolute;
        width: 100%;
        height: 169.14px;
        left: 87px;
        top: 234px;
        background: #4d1fea;
        .perfil {
            position: absolute;
            width: 50px;
            height: 50.53px;
            left: 0.2%;
            top: 35%;
        }
        .rectangle {
            position: absolute;
            height: 50.75px;
            width: 96%;
            background-color: #3310ac;
            border-radius: 88.5px;
            left: 4%;
            top: 40%;
            .Mensaje {
                position: absolute;
                left: 2%;
                top: 20%;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 175%;
                /* or 42px */

                display: flex;
                align-items: center;
                font-feature-settings: "pnum" on, "lnum" on, "ss04" on, "ss03" on, "liga" off;

                color: #ffffff;
            }
        }
    }

    .chat2 {
        position: absolute;
        width: 100%;
        height: 169.14px;
        left: 87px;
        top: 402.86px;
        background: #4d1fea;
        .perfil {
            position: absolute;
            width: 50px;
            height: 50.53px;
            left: 0.2%;
            top: 35%;
        }
        .rectangle2 {
            position: absolute;
            height: 50.75px;
            width: 96%;
            background-color: #3310ac;
            border-radius: 88.5px;
            left: 4%;
            top: 40%;
            .Mensaje {
                position: absolute;
                left: 2%;
                top: 20%;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 175%;
                /* or 42px */

                display: flex;
                align-items: center;
                font-feature-settings: "pnum" on, "lnum" on, "ss04" on, "ss03" on, "liga" off;

                color: #ffffff;
            }
        }
    }

    .chat3 {
        position: absolute;
        width: 100%;
        height: 169.14px;
        left: 87px;
        top: 571.44px;
        background: #4d1fea;
        .perfil {
            position: absolute;
            width: 50px;
            height: 50.53px;
            left: 0.2%;
            top: 35%;
        }
        .rectangle3 {
            position: absolute;
            height: 50.75px;
            width: 96%;
            background-color: #3310ac;
            border-radius: 88.5px;
            left: 4%;
            top: 40%;
            .Mensaje {
                position: absolute;
                left: 2%;
                top: 20%;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 175%;
                /* or 42px */

                display: flex;
                align-items: center;
                font-feature-settings: "pnum" on, "lnum" on, "ss04" on, "ss03" on, "liga" off;

                color: #ffffff;
            }
        }
    }
    .chat4 {
        position: absolute;
        width: 100%;
        height: 169.14px;
        left: 87px;
        top: 741.01px;
        background: #4d1fea;
        .perfil {
            position: absolute;
            width: 50px;
            height: 50.53px;
            left: 0.2%;
            top: 35%;
        }
        .rectangle4 {
            position: absolute;
            height: 50.75px;
            width: 96%;
            background-color: #3310ac;
            border-radius: 88.5px;
            left: 4%;
            top: 40%;
            .Mensaje {
                position: absolute;
                left: 2%;
                top: 20%;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 175%;
                /* or 42px */

                display: flex;
                align-items: center;
                font-feature-settings: "pnum" on, "lnum" on, "ss04" on, "ss03" on, "liga" off;

                color: #ffffff;
            }
        }
    }
    .chat5 {
        position: absolute;
        width: 100%;
        height: 169.14px;
        left: 87px;
        top: 909.59px;
        background: #4d1fea;
        .perfil {
            position: absolute;
            width: 50px;
            height: 50.53px;
            left: 0.2%;
            top: 35%;
        }
        .rectangle5 {
            position: absolute;
            height: 50.75px;
            width: 96%;
            background-color: #3310ac;
            border-radius: 88.5px;
            left: 4%;
            top: 40%;
            .Mensaje {
                position: absolute;
                left: 2%;
                top: 20%;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 175%;
                /* or 42px */

                display: flex;
                align-items: center;
                font-feature-settings: "pnum" on, "lnum" on, "ss04" on, "ss03" on, "liga" off;

                color: #ffffff;
            }
        }
    }
    .chat6 {
        position: absolute;
        width: 100%;
        height: 169.14px;
        left: 87px;
        top: 1079.16px;
        background: #4d1fea;
        .perfil {
            position: absolute;
            width: 50px;
            height: 50.53px;
            left: 0.2%;
            top: 35%;
        }
        .rectangle6 {
            position: absolute;
            height: 50.75px;
            width: 96%;
            background-color: #3310ac;
            border-radius: 88.5px;
            left: 4%;
            top: 40%;
            .Mensaje {
                position: absolute;
                left: 2%;
                top: 20%;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 175%;
                /* or 42px */

                display: flex;
                align-items: center;
                font-feature-settings: "pnum" on, "lnum" on, "ss04" on, "ss03" on, "liga" off;

                color: #ffffff;
            }
        }
    }
    .chat7 {
        position: absolute;
        width: 100%;
        height: 169.14px;
        left: 87px;
        top: 1246.73px;
        background: #4d1fea;
        .perfil {
            position: absolute;
            width: 50px;
            height: 50.53px;
            left: 0.2%;
            top: 35%;
        }
        .rectangle7 {
            position: absolute;
            height: 50.75px;
            width: 96%;
            background-color: #3310ac;
            border-radius: 88.5px;
            left: 4%;
            top: 40%;
            .Mensaje {
                position: absolute;
                left: 2%;
                top: 20%;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 175%;
                /* or 42px */

                display: flex;
                align-items: center;
                font-feature-settings: "pnum" on, "lnum" on, "ss04" on, "ss03" on, "liga" off;

                color: #ffffff;
            }
        }
    }
    .chat8 {
        position: absolute;
        width: 100%;
        height: 169.14px;
        left: 87px;
        top: 1415.31px;
        background: #4d1fea;
        .perfil {
            position: absolute;
            width: 50px;
            height: 50.53px;
            left: 0.2%;
            top: 35%;
        }
        .rectangle8 {
            position: absolute;
            height: 50.75px;
            width: 96%;
            background-color: #3310ac;
            border-radius: 88.5px;
            left: 4%;
            top: 40%;
            .Mensaje {
                position: absolute;
                left: 2%;
                top: 20%;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 175%;
                /* or 42px */

                display: flex;
                align-items: center;
                font-feature-settings: "pnum" on, "lnum" on, "ss04" on, "ss03" on, "liga" off;

                color: #ffffff;
            }
        }
    }
    .chat9 {
        position: absolute;
        width: 100%;
        height: 169.14px;
        left: 87px;
        top: 1585px;
        background: #4d1fea;
        .perfil {
            position: absolute;
            width: 50px;
            height: 50.53px;
            left: 0.2%;
            top: 35%;
        }
        .rectangle9 {
            position: absolute;
            height: 50.75px;
            width: 96%;
            background-color: #3310ac;
            border-radius: 88.5px;
            left: 4%;
            top: 40%;
            .Mensaje {
                position: absolute;
                left: 2%;
                top: 20%;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 175%;
                /* or 42px */

                display: flex;
                align-items: center;
                font-feature-settings: "pnum" on, "lnum" on, "ss04" on, "ss03" on, "liga" off;

                color: #ffffff;
            }
        }
    }
}
.contenedor-footer {
    position: absolute;
    height: auto;
    width: 90%;
    left: 14%;
    top: 278%;
}
