.chats-titulo {
  position: absolute;
  height: 14%;
  width: 100%;
  left: 14%;
  background:  #6a00eb;
}
.chats-titulo .text {
  font-family: "Poppins", sans-serif;
  align-items: center;
  font-size: 8vh;
  font-weight: 700;
  color: #fff;
  padding-left: 5%;
}
.barra-contactos {
  position: absolute;
  height: 40px;
  left: 70%;
  right: 0%;
  top: calc(50% - 40px / 2);
  border-radius: 10px;
}
.bx{
  
  color: #fff;
}