@use '../../custom.scss' as *;

.stats-title {
  position: absolute;
  left: 14%;
  width: 86%;
  height: 10%;
  color: white;
  background-color: $blue-darker;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 5.5vh;
  padding-left: 5%;
  padding-top: 0.5%;
  padding-bottom: 1%;
  z-index: 100;
}

.stats-main-section {
  position: absolute;
  left: 14%;
  height: 90vh;
  top: 10%;
  background-color: #6b4ed4;
  width: 86%;
  padding: 30px;
}

.chart-title {
  margin-left: 30%;
  font-size: 3vw;
  color: white;
}

.chart-wrapper {
  margin-left: 14%;
  margin-top: 2%;
}
