@use '../../../custom.scss' as *;

.agregar-juego-section {
  position: absolute;
  left: 14%;
  width: 86%;
  height: 100vh;
}

.titulo-agregar-juego {
  position: absolute;
  height: 10%;
  width: 100%;
  background: $blue-darker;
  display: flex;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  align-items: center;
  font-size: calc(2vw + 3vh);
  font-weight: 700;
  color: #fff;
  padding-left: 5%;
}

.endScreen-steps {
  color: white;
  font-size: calc(2vw + 3vh);
}

.step-crear-juego {
  position: absolute;
  width: 70%;
  top: 10%;
  color: #fff;
  padding-left: 5%;
  padding-top: 5%;
}

.finalizar {
  margin-top: 5%;
}

.progress-bar {
  background-color: white;
  position: absolute;
  left: 5%;
  top: 60%;
  height: 10px;
  width: 20%;
  border-radius: 25px;
}

.progress-bar-back {
  position: absolute;
  left: 5%;
  top: 60%;
  height: 10px;
  border-radius: 25px;
  width: 60%;
  background-color: black;
  z-index: -1;
}

.completion-bar-name {
  color: #fff;
  position: absolute;
  left: 5%;
  top: 55%;
  width: 20%;
  font-size: 16px;
}
